html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

// * {
//   outline: 1px red solid;
// }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $main-background-blue inset;
  -webkit-text-fill-color: $text-color-white !important;
}

a:-webkit-any-link {
  text-decoration: none;
}

h3,
h4 {
  margin: 0 0 30px 0;
}

h3:first-child {
  margin: 30px 0 30px 0;
}

.subscribe-result a {
  color: $button-accent-red;
}
.chevron::before {
  border-style: solid;
  border-width: 0.1em 0.1em 0 0;
  content: '';
  display: inline-block;
  height: 0.45em;
  left: 0.15em;
  position: relative;
  top: 0.15em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
  border-color: $text-color-white;
}

.chevron.right:before {
  left: 0;
  transform: rotate(45deg);
}

.chevron.bottom:before {
  top: 0;
  transform: rotate(135deg);
}

.chevron.left:before {
  left: 0.25em;
  transform: rotate(-135deg);
}
/**
 * Errors
 */
.error {
  border-color: red;
}

.error-message {
  color: red;
  font-style: italic;
  margin-bottom: 1em;
}

.success-message {
  color: green;
  font-style: italic;
  margin-bottom: 1em;
}
