// Mobile first view

.wrapper {
  height: auto;
  width: 100%;
  overflow: hidden;
}

.main-callout {
  background-color: $main-background-blue;
  width: 100%;
  color: $text-color-white;
  padding-bottom: 63px;
}
.main-container {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.text-container {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h3 {
    font-family: 'Telenor-Bold';
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: $text-color-white;
  }

  h4 {
    font-family: 'Telenor-Light';
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $text-color-white;
  }

  p {
    text-align: center;
  }
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 366px;
  height: 60px;
  max-width: 100%;
  border-radius: 31px;
  border: 1px solid $text-color-white;
  padding: 0 8px 0 8px;
}

input {
  background-color: transparent;
  font-family: 'Telenor';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $text-color-white;
}
::placeholder {
  font-family: 'Telenor';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $text-color-white;
}

.email-input {
  width: 100%;
  background-color: $main-background-blue !important;
  padding-left: 14px;
  /* And hide the input's outline, so the form looks like the outline */
  border: none;
  &:focus {
    outline: 0;
  }
}
.email-button {
  font-family: 'Telenor';
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $text-color-white;
  width: 160px;
  height: 45px;
  max-width: 100%;
  border-radius: 25px;
  border-color: $button-accent-red;
  background-color: $button-accent-red;
  transition: all 0.2s ease-in-out;
  -webkit-appearance: none;

  &:hover {
    // transform: scale(1.02);
    width: 162px;
    height: 47px;
  }
  &:focus {
    width: 162px;
    height: 47px;
    outline: 0;
  }
}

.phone-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.phone-image {
  height: 541px;
  width: 270px;
  border-radius: 27px;
  background-color: $white-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../images/Phone@2x.png);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.info-text {
  width: 100%;
  max-width: 80vw;
  background-color: $white-background;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Telenor';
  font-size: 15px;
  height: 100%;
  min-height: 390px;
  margin: auto;
  border: 0;
  padding-bottom: 100px;

  &:focus {
    outline: 0;
  }
}

.text-block p {
  line-height: 1.67;
  font-family: 'Telenor';
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
}

.error-message {
  color: $button-accent-red;
}

.success-message {
  color: $text-color-white;
}

.error-message-container {
  max-width: 379px;
}

// start
// of
// desktop
// styles

@media only screen and (min-width: 1224px) {
  .main-callout {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 0;
  }

  .main-container {
    height: 80vh;
    width: 80vw;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .logo-container {
    padding-top: 0;
    justify-content: flex-end;
    display: flex;
    width: auto;
  }

  .text-container {
    max-height: 80vh;
    height: 600px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    margin: 0 50px 0 0;

    h3 {
      text-align: right;
    }

    h4 {
      text-align: right;
    }

    p {
      text-align: right;
    }
  }
  .text-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    h3 {
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }
  .learn-more-container {
    h4 {
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }
  .input-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 366px;
    height: 60px;
    border-radius: 31px;
    border: 1px solid $text-color-white;
    padding: 0 8px 0 8px;
  }
  .input-container--inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  input {
    background-color: transparent;
    font-family: 'Telenor';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $text-color-white;
  }
  ::placeholder {
    font-family: 'Telenor';
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $text-color-white;
  }
  .email-input {
    flex-grow: 2;
    /* And hide the input's outline, so the form looks like the outline */
    border: none;
  }
  .email-button {
    font-family: 'Telenor';
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $text-color-white;
    width: 160px;
    height: 45px;
    border-radius: 25px;
    border-color: $button-accent-red;
    background-color: $button-accent-red;
  }

  .phone-container {
    display: block;
    width: auto;
  }

  .phone-image {
    max-height: 80vh;
    height: 600px;
    width: 300px;
    border-radius: 30px;
  }

  .info-text {
    width: 100%;
    background-color: $white-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .text-block {
    width: 500px;

    h2 {
      font-family: Telenor-Bold, sans-serif;
      font-size: 26px;
    }
    p {
      font-family: Telenor, sans-serif;
      font-size: 14px;
      line-height: 1.79;
    }
  }
}

.myClass {
  z-index: 9999;
  position: relative;
  top: -19px;
  right: 294px;
}

.myLine {
  stroke-dasharray: 1227;
  stroke-dashoffset: 1227;
  animation: dash 3s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
